global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "Web_Server"
    static_configs:
      - targets: ["10.0.0.5:9100"]
