---
- name: Install awscli
  hosts: Web-Server
  become: true
  tasks:
  - name: Install unzip
    apt:
      name: unzip
      state: present
      update_cache: yes

  - name: Download and install AWS CLI v2
    commands:
      - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
      - unzip awscliv2.zip
      - ./aws/install
      - aws --version

- name: Install Docker menggunakan Galaxy Role
  hosts: all
  become: true
  roles:
    - geerlingguy.docker